{% extends 'Foundation.html' %} {% load static %} {% block title %}
<title>Confab | Contact</title>
{% endblock %} {% block otherstyles %}
<link rel="stylesheet" type="text/css" href="{% static 'CodeConfab/css/home.css' %}" /> {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid text-center">
                <div class="row">
                    
                    <div class="col-12 text-center top-contact">
                        <p>
                            <b>Phone:</b>
                        </p>
                        <p>+2348109125393</p>
                    </div>

                    <div class="col-12 col-md-6 top-contact">
                        <i class="fa fa-facebook"></i>
                    </div>
                    
                    <div class="col-12 col-md-6 top-contact">
                            <i class="fa fa-github"></i>
                        </div>
                        <div class="col-12 text-center top-contact">
                                <p>
                                        <b>Email:</b>
                                    </p>
                                    <p>Tekkieware@gmail.com</p>
                            </div>   
                    <div class="col-12 col-md-6 top-contact">
                       
                        <i class="fa fa-twitter"></i>
                       
                    </div>
                    <div class="col-12 col-md-6 top-contact">
                        <i class="fa fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}