{% extends 'account/profile.html' %} 
{% block midcontent %} {% load static %} 
{% load pygmentify_tags%} 

{% block title %}
<title>Confab | {{ request.user }}-Connections</title>
{% endblock %}
{% block otherstyles %}
<link rel="stylesheet" type="text/css" href="{% static 'CodeConfab/css/fix.css' %}" />
<link rel="stylesheet" href="{% pygmentify_css %}"> 
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
                <h5 class="text-muted text-right">Search for Users by their Username</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'confab:find' user %}">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8" style="padding-right: 2px">
                                <input type="search" class="form-control" placeholder="Username .." name="username">
                        </div>
                        <div class="col-4" style="padding-left: 2px">
                                <input type="submit" value="Find" class="btn btn-primary btn-connected btn-find">
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <br>
        <h5 class="text-muted text-center">Results</h5>
        {% for friend in Suggestions %}
        <div class="row">
            <div class="col-12">
            <a href="{% url 'account:pub_profile' friend %}">
            <p class="info-header" style="margin-top: 10px">
                    <img {% if friend.profile.profile_picture %} src="{{ friend.profile.profile_picture.url }}" {% else %} src="{% static 'CodeConfab/img/alt_pub_pic.png' %}" {% endif %} height="30">
                    {{friend.first_name}}&nbsp;&nbsp;&nbsp;    {{friend.last_name}}
                    <i class="text-muted user">(@{{friend}})</i>
            </p>
            </a>
            </div> 
        </div>  
        {% empty %}
        <h6 class="text-muted">No Resullts?</h6>
            <ol class="text-danger info-tag">
                <li>Your Search does not match any Users</li>

            </ol>
            
        {% endfor %}
    </div>


{% endblock %}