{% extends 'Foundation.html' %}
{% load static %}

{% block title %}
<title>Confab | help </title>
{% endblock %}
{% block otherstyles %}
<link rel="stylesheet" type="text/css" href="{% static 'CodeConfab/css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h5 class=""><u>
                Getting Started
            </u></h5>
            <ul>
                <li>Create an account by clicking on the START NOW button on the home page.</li>
                <li>First thing first, Login set up your profile properly to enjoy the use of CodeConfab.</li>
                <li>Make sure to add your prefered languages to your profile.</li>
            </ul>
            <h5><u>Connections</u></h5>
            <p>Connect with people:</p>
            <ul>
                <li>View their public profile and click on the Connect button to send a connection request.</li>
                <li>You can find suggestions by clicking on the find suggestions button on the connections page.</li>
                <li>People who work with the programming languages specified on your profile will be suggested for you.</li>
                <li>You can explicitly search by usernames.</li>
                <li>if your request is approved, you have a new connection and that will reflect on your connections list.</li>
                <li>End a connection by clicking on the connected button on their public profile.</li>
                <li>Open a converstion with a friend by clicking on the send message button on their profile.</li>
                <li>All open conversations are shown on the converstions page.</li>
            </ul>
            <h5><u>Post</u></h5>
            <ul>
                <li>Once you are logged in, Click on the confab icon on the bottom-right corner of your screen.</li>
                <li>Select a programming language for your code or problem.</li>
                <li>Enter a title and a description.</li>
                <li>Pase your code if any and save.</li>
                <li>Hurray!!!!!. thats your first post on CodeConfab.</li>

                
            </ul>
            <h5>
                <u>Contribute</u>
            </h5>
            <ul>
                <li>Open a post your want to add a contribution to by clicking on it.</li>
                <li>Click on the Comment icon on the bottom-left corner of your screen.</li>
                <li>Describe your solution.</li>
                <li>Paste your correction to the code if any.</li>
                <li>You can modify the original code by just copying it.</li>
                <li>Once you are done click Add Comment.</li>
                <li>Reply to an existing comment by clicking on the replies link on the comment.</li>
                <li>Find the Add Reply button on the Replies page.</li>
                <li>Enter your reply and Click Reply.</li>
            </ul>
            <h5>
                <u>Poke</u>
            </h5>
            <p>Let a friend know their help is needed:</p>
            <ul>
                <li>Find the post you think they can help with.</li>
                <li>Click on the poke link and find the friend from your friends list.</li>
                <li>Select all the friends you'll like to poke and click Poke.</li>
                <li>Your friends will get a notification and a direct link to the posts.</li>
            </ul>
            <h5><u>Prompt</u></h5>
            <p>Found a post that you think will help a friend?:</p>
            <ul>
                <li>Click on the Prompt link on the post.</li>
                <li>Find the friend from your friends list.</li>
                <li>Select the friends and Click Prompt. </li>
                <li>Your friends will get a notification and direct link to the post.</li>
            </ul>
            <h5><u>Resources</u></h5>
            <ul>
                <li>Go to the Resources page to find resources.</li>
                <li>Resources will be suggested for you based on the languages on your profile.</li>
                <li>You can search resources by title.</li>
                <li>To add your own resource go to your profile.</li>
                <li>Open the Resources tab and click on add new.</li>
                <li>Add a title and description.</li>
                <li>Add a programming language for your resource.</li>
                <li>Add a link to the resource if any.</li>
                <li>Add a portable document format(pdf) for resource, if any.</li>
                <li>Click save to add.</li>
                <li>You can also delete your resources by clicking on the delete button.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} 